.Library{
display: flex;
flex-direction: column;
color: var(--secondary-text-color);
}
.Library-header{
margin: 2rem 0;
padding: 0 1rem;
}
.Library-articles{
overflow: auto;
white-space: nowrap;
padding-bottom: 38px;
padding-top: 38px;
}
.Library-articles > :hover{
transform: scale(120%);
}
.Library-youtube{
overflow: auto;
white-space: nowrap;
padding-bottom: 38px;
padding-top: 38px;
}
.Library-youtube > :hover{
transform: scale(120%);
}
.Library-item{
text-align: left;
font-family: 'Playfair Display';
font-variant: small-caps;
display: inline-block;
overflow: hidden;
background-color: var(--main-primary-color);
color: var(--secondary-text-color);
font-weight: bold;
height: var(--item-height);
width: var(--item-width);
border-radius: 5px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
margin: 0.38rem;
}
.Library-item-image{
height: var(--item-image-height);
width: var(--item-image-width);
}
.Library-item-title{
font-size: 0.7rem;
margin: 0 auto;
padding-left: 10px;
}
.Library-item-subtitle{
font-size: 0.6rem;
margin: 0 auto;
padding-left: 10px;
}
.Library-item-link{
margin: 0;
margin-top: 1px;
margin-left: 10px;
padding: 0 5px;
font-size: 0.7rem;
float: left;
border-radius: 3px;
background-color:  var(--main-accent-color);
color: white;
}
.Library-item-link> :hover{
cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .Library-item {
    height: calc(var(--item-height)/1.5);
    width: calc(var(--item-width)/1.5);
    font-size:60%;
  }
}
