body{
margin: auto;

}
:root{
--red-velvet:rgb(127,42,60);
--natural-rose:rgb(210,37,67);
--natural-red:rgb(155,31,33);
--autumn-sunset:rgb(243,133,84);
--sunset-gold:rgb(232,179,25);
--honey:rgb(235,169,55);
--coral:rgb(255,127,80);
--ocean-green:rgb(72,191,145);
--dark-ocean-green:rgb(48,148,103);
--fresh-mint:rgb(149,232,163);
--grass: rgb(52,140,49);
--fern-green:rgb(79,121,66);
--leaf-green:rgb(45,90,39);
--dark-moss-green: rgb(12, 36, 11);
--deep-aqua:rgb(0,188,188);
--dark-teal-green:rgba(24,97,91,0.9);
--sea-foam-blue:rgb(42,134,138);
--matte-dark-blue:rgba(11,11,96,0.8);
--pure-blue:rgb(0,0,255);
--cactus-green:rgb(46,96,33);
--main-bg-color: var(--dark-teal-green);
--secondary-bg-color: var(--natural-red);
--main-text-color: rgb(255,255,255);
--navbar-main-bg-color: var(--matte-dark-blue);
--footer-main-bg-color: var(--matte-dark-blue);

--navbar-height: 33px;
--item-height: calc(0.38 * 20rem);
--item-width: calc(0.62 * 20rem);
--item-image-height: 62%;
--item-image-width: 100%;
}
/* -------------------------------- */
.App {
display: inline-block;
text-align: center;
align-items: center;
padding: 0;
margin: 0;
color: var(--main-text-color);
background-color: var(--main-bg-color);
width: 100vw;
}

/* -------------------------------- */
.Navbar-filter{
filter: blur(20px);
height: calc(var(--navbar-height) / 2);
width: 100%;
position: fixed;
top: 0;
background-color: var(--navbar-main-bg-color);
z-index: -1;
}
.Navbar{
z-index: 1;
position: fixed;
top: 0;
left: -1px;
height: var(--navbar-height);
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: var(--navbar-main-bg-color);
padding-top: 1.25rem;
padding-right: 6rem;
padding-bottom: 0.38rem;
margin: 0;
}
.Navbar-item{
color: white;
font-size: 10px;
text-decoration: none;
flex-grow: 2;
align-self: center;
padding: none;
margin: none;
}
.Navbar-brand-icon{
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1);
margin-top: 1rem;
height: 5rem;
width: 5rem;
border-radius: 50%;
top: 0;
left: 10%;
}
.Navbar-brand-name{}

/* -------------------------------- */
.Searchbar{
position: fixed;
left: 10%;
top: 55px;
width: 65vw;
border: none;
}
.Searchbar-content{
width: 100%;
text-align: center;
padding-left: 4rem;
padding-right: 35vw;
border: none;
color: var(--main-text-color);
background-color: black;
}

/* -------------------------------- */
.Banner{
font-style: italic;
width: 100vw;
margin: auto;
margin-top: calc(var(--navbar-height) + 6rem);
margin-bottom: calc(var(--navbar-height) + 6rem);
}
.Banner-body-quote-main{
font-size: 162%;
}
.Banner-body-quote-author{
font-size: 100%;
}
.Banner-body-quote-publisher{
font-size: 62.18%;
}
/* -------------------------------- */
.BrandLinks{
color: var(--main-text-color);
position: fixed;
top: calc(var(--navbar-height) + 20rem);
zoom:60%;
right: 0;
top: 62.18%;
}
.BrandLinks-column{
background-color: rgba(0,0,0,0.62);

}
.BrandLinks-icon{
border-radius: 5px;
display: block;
vertical-align: middle;
}
.BrandLinks-icon {
color: var(--main-text-color);
text-decoration: none;
}
.SocialMedia{
border-radius: 0 5px 5px 0;
}
.SocialMedia-icon{}
.Donations{
height: 25%;
border-radius: 5px 0 0 5px;
}
.Donations-icon{}

/* -------------------------------- */
.Intro{
color: var(--main-bg-color);
text-shadow:
0 0 1px white,
0 0 4px white,
0 0 6px white,
0 0 10px white,
0 0 16px white,
0 0 26px white,
0 0 42px white;
font-variant: small-caps;
font-weight: bolder;
}
.globalIssues-item{
color: black;
text-shadow:
0 0 1px red,
0 0 4px red,
0 0 6px red,
0 0 10px red,
0 0 16px red,
0 0 26px red,
0 0 42px red;
}

/* -------------------------------- */
.Seasons{
left:-10%;
margin-top: 5rem;
width: 100vw;
height: 100vh;
}
.Seasons-cell{
height: 20vh;
width: 20vw;
background-position: center;
background-size: 300%;
}
.Seasons-cell-one{
background-image:
url("./images/imports/ronaldo-de-oliveira-wngy5vxtZJg-unsplash.jpg");
}
.Seasons-cell-two{
background-image:
url("./images/imports/kent-pilcher-87MIF4vqHWg-unsplash.jpg");
}
.Seasons-cell-three{
background-image:
url("./images/imports/andrew-coelho-VB-w_3dnyvI-unsplash.jpg");
}
.Seasons-cell-four{
background-image:
url("./images/imports/marek-okon-tWWCqIMiUmg-unsplash.jpg");
}

/* -------------------------------- */
.Library{
width: 100vw;
display: flex;
flex-direction: column;
}
.Library-header{
width: 100%;
margin: 2rem 0;
}
.Library-articles{
overflow: auto;
white-space: nowrap;
padding-bottom: 38px;
padding-top: 38px;
}
.Library-articles > :hover{
transform: translateY(-10px);
}
.Library-youtube{
overflow: auto;
white-space: nowrap;
padding-bottom: 38px;
padding-top: 38px;
}
.Library-youtube > :hover{
transform: translateY(-10px);
}
.Library-item{
text-align: left;
font-family: 'Playfair Display';
font-variant: small-caps;
display: inline-block;
overflow: hidden;
background-color: var(--secondary-bg-color);
height: var(--item-height);
width: var(--item-width);
border-radius: 5px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
margin: 0.38rem;
}
.Library-item-image{
height: var(--item-image-height);
width: var(--item-image-width);
}
.Library-item-title{
font-size: 0.7rem;
margin: 0 auto;
padding-left: 10px;
}
.Library-item-subtitle{
font-size: 0.6rem;
margin: 0 auto;
padding-left: 10px;
}
/* -------------------------------- */
.Store{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 38px;
}
.Store-header{
margin-bottom: 20px;
}
.Store-item{
font-family: 'Playfair Display';
font-variant: small-caps;
background-color: var(--secondary-bg-color);
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
height: calc(var(--item-height)*0.62);
width: calc(var(--item-width)*0.62);
border-radius: 5px;
overflow: hidden;
margin: 0.38rem;
}
.Store-item-image{
zoom:5%;
}
.Store-item-title{
font-size: 1.2rem;
margin: 0;
}
.Store-item-description{
font-size: 0.6rem;
margin: 0;
}
.Store-item-subtitle{
font-size: 0.8rem;
margin: 0;
}

/* -------------------------------- */
.Messenger{
justify-content: center;

}
.Messenger-body{

border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
}
.Messenger-buttons{}

/* -------------------------------- */
.Footer{
background-color: var(--footer-main-bg-color);
padding : 1rem;
}
