
/* -------------------------------- */
:root{
  --main-bg-color: lightblue;

  --navbar-height: 50px;
}
body{
width:100vw;
}
/* -------------------------------- */
.App {
display: inline-block;
text-align: center;
align-items: center;
padding: none;
margin: none;
}

/* -------------------------------- */
.Navbar{
position: fixed;
justify-content: space-between;
top: 0;
left: -5%;
height: var(--navbar-height);
width: 105vw;
display: flex;
flex-direction: row;
background-color: rgba(255,255,255,1);
padding: 1rem 1rem 0 1rem;
margin: none;
}
.Navbar-item{
color: black;
text-decoration: none;
flex-grow: 2;
align-self: center;
padding: none;
margin: none;
}
.Navbar-brand-icon{
height: 5rem;
width: 5rem;
border-radius: 50%;
top: 0;
}
.Navbar-brand-name{}

/* -------------------------------- */
.searchBar{
border-radius: 1rem;
text-align: center;
}
/* -------------------------------- */
.Banner{
width: 100vw;
background-color: white;
margin: auto;
margin-top: calc(var(--Navbar-height)+8rem);
margin-bottom: calc(var(--Navbar-height)6rem);
}

/* -------------------------------- */
.BrandLinks{
position: fixed;
left: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
top: calc(var(--navbar-height)+20rem);
width: 100%;
}
.BrandLinks-column{
background-color: rgba(0,0,0,0.38);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100px;
}
.BrandLinks-icon{
border-radius: 5px;
display: block;
vertical-align: middle;
}
.BrandLinks-icon {
}
.SocialMedia{
border-radius: 0 5px 5px 0;
}
.SocialMedia-icon{}
.Donations{
  height: 25%;
border-radius: 5px 0 0 5px;
}
.Donations-icon{}

/* -------------------------------- */
.Intro{
font-variant: small-caps;
}

/* -------------------------------- */
.Seasons{
margin-top: 5rem;
width: 100vw;
height: 100vh;
}
.Seasons-cell{
background-size: 100%;
background-position: center;
}
.Seasons-cell-one{
background-image: url("./images/imports/marek-okon-tWWCqIMiUmg-unsplash.jpg");
}
.Seasons-cell-two{
background-image: url("./images/imports/andrew-coelho-VB-w_3dnyvI-unsplash.jpg");
}
.Seasons-cell-three{
background-image: url("./images/imports/kent-pilcher-87MIF4vqHWg-unsplash.jpg");
}
.Seasons-cell-four{
background-image: url("./images/imports/ronaldo-de-oliveira-wngy5vxtZJg-unsplash.jpg");
}

/* -------------------------------- */
.Library{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 16px solid white;
}
.Library-header{
width: 100%;
margin: 2rem 0;
}
.Library-articles{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 38px;
}
.Library-youtube{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 38px;
}
.Library-item{
height: 162px;
width: 100px;
border: 3px solid black;
border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
margin: 5px;
}

.Library-item-image{
  height: 50%;
}

/* -------------------------------- */
.Store{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
border-bottom: 16px solid white;
padding-bottom: 38px;
}
.Store-header{
margin-bottom: 20px;
}
.Store-item{
height: 162px;
width: 100px;
border: 3px solid black;
border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
margin: 5px;
}
.Store-item-image{
  height: 50%;
}

/* -------------------------------- */
.Messenger{
justify-content: center;
}
.Messenger-body{
zoom: 300%;
border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
}
.Messenger-buttons{}

/* -------------------------------- */
#footer{
background-color: white;
padding : 1rem;
}
