
/* -------------------------------- */
:root{
  --navbar-height: 33px;

  --autumn-sunset:rgb(243,133,84);
  --sunset-gold:rgb(232,179,25);
  --honey:rgb(235,169,55);
  --ocean-green:rgb(72,191,145);
  --fresh-mint:rgb(149,232,163);
  --fern-green:rgb(79,121,66);
  --dark-moss-green: rgb(12, 36, 11);
  --deep-aqua:rgb(0,188,188);
  --matte-dark-blue:rgb(11,11,96);
  --pure-blue:rgb(0,0,255);


  --main-bg-color: var(--deep-aqua);
  --secondary-bg-color: var(--honey);
  --main-text-color: rgb(255,255,255);
}
body{
/* text-align: center; */
/* justify-content: center; */
/* align-items: center; */
/* align-self: center; */
/* align-content: center; */
/* position: center; */
/* width: 100%; */
/* width: 100vw; */
/* vertical-align: middle;
display: table-cell; */
margin: auto;
}
/* -------------------------------- */
.App {
display: inline-block;
text-align: center;
align-items: center;
padding: none;
margin: none;
background-color: var(--main-bg-color);
color: var(--main-text-color);
}

/* -------------------------------- */
.Navbar{
position: fixed;
top: 0;
left: -1px;
height: var(--navbar-height);
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgba(0,0,0,0.62);
padding-top: 1.25rem;
padding-right: 6rem;
padding-bottom: 0.38rem;
margin: none;
}
.Navbar-item{
color: white;
text-decoration: none;
flex-grow: 2;
align-self: center;
padding: none;
margin: none;
}
.Navbar-brand-icon{
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1);
  margin-top: 1rem;
height: 5rem;
width: 5rem;
border-radius: 50%;
top: 0;
}
.Navbar-brand-name{}

/* -------------------------------- */
.searchBar{
border-radius: 1rem;
text-align: center;
}

/* -------------------------------- */
.Banner{

width: 100vw;
margin: auto;
margin-top: calc(var(--Navbar-height)+6rem);
margin-bottom: calc(var(--Navbar-height)+6rem);
}

/* -------------------------------- */
.BrandLinks{
  color: var(--main-text-color);

position: fixed;
left: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
top: calc(var(--navbar-height)+20rem);
width: 100%;
zoom:60%;
}
.BrandLinks-column{
background-color: rgba(0,0,0,0.62);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100px;

}
.BrandLinks-icon{
border-radius: 5px;
display: block;
vertical-align: middle;
}
.BrandLinks-icon {
  color: var(--main-text-color);
text-decoration: none;
}
.SocialMedia{
border-radius: 0 5px 5px 0;
}
.SocialMedia-icon{}
.Donations{
height: 25%;
border-radius: 5px 0 0 5px;
}
.Donations-icon{}

/* -------------------------------- */
.Intro{
font-variant: small-caps;
}

/* -------------------------------- */
.Seasons{
left:-10%;
margin-top: 5rem;
width: 100vw;
height: 100vh;
}
.Seasons-cell{
height: 20vh;
width: 20vw;
background-position: center;
background-size: 300%;
}
.Seasons-cell-one{
background-image: url("./images/imports/marek-okon-tWWCqIMiUmg-unsplash.jpg");
}
.Seasons-cell-two{
background-image: url("./images/imports/andrew-coelho-VB-w_3dnyvI-unsplash.jpg");
}
.Seasons-cell-three{
background-image: url("./images/imports/kent-pilcher-87MIF4vqHWg-unsplash.jpg");
}
.Seasons-cell-four{
background-image: url("./images/imports/ronaldo-de-oliveira-wngy5vxtZJg-unsplash.jpg");
}

/* -------------------------------- */
.Library{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 16px solid white;
}
.Library-header{
width: 100%;
margin: 2rem 0;
}
.Library-articles{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 38px;
}
.Library-youtube{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 38px;
}
.Library-item{
  background-color: var(--secondary-bg-color);
height: 162px;
width: 100px;
border-radius: 5px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
padding: 10px 20px;
overflow: hidden;
margin: 0.62rem;
}

.Library-item-image{
  height: 50%;
}

/* -------------------------------- */
.Store{
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
border-bottom: 16px solid white;
padding-bottom: 38px;
}
.Store-header{
margin-bottom: 20px;
}
.Store-item{
background-color: var(--secondary-bg-color);
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
height: 162px;
width: 100px;
border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
margin: 0.62rem;
}
.Store-item-image{
  height: 50%;
}

/* -------------------------------- */
.Messenger{
justify-content: center;
}
.Messenger-body{
border-radius: 5px;
padding: 10px 20px;
overflow: hidden;
}
.Messenger-buttons{}

/* -------------------------------- */
#footer{
background-color: white;
padding : 1rem;
}
