.Banner{
font-style: italic;
margin:-1.5rem 0 2rem 0;
padding: 2rem 0.5rem 1rem 0.5rem;
background-color: black;
}
.Banner-body-quote-main{
font-size: 162%;
}
.Banner-body-quote-author{
font-size: 100%;
}
.Banner-body-quote-publisher{
font-size: 62.18%;
}
