.sliderItem {
  display: inline-block;
  height: 130px;
  width: 100px;
  margin: 5px;
  background-color: black;
  &_header {background: green}

  &_subheader {background: blue}

  &_info {background: green}

  &_link {background: blue}

  &_footnote {background: red}
}
