@media only screen and (max-width: 1024px){
  .main-background-container{
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 768px){
  .main-background-container{
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 480px){
  .main-background-container{
    padding-top: 5.5rem;
  }
}
.main-background{
  width: 98%;
transform: translateX(2.5%);
}
.main-background-container{
  background-color: black;
}
